@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%)
  --main-fs: 18px;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 700
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

html {
  scroll-behavior: smooth ;
}