@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --main-fs: 18px;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* wrappers */

.header-wrapper,
.introduction-wrapper,
.footer-wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.services-wrapper,
.articles-wrapper {
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
}
/* -------  */

header {
  background: var(--neutral-white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0555);
  z-index: 9;
  position: relative;
}

.header-navigation ul {
  display: flex;
  gap: 2.5rem;
}

.header-navigation a {
  position: relative;
  font-size: var(--main-fs);
  color: var(--neutral-grayish-blue);
  transition: 0.35s;
}

.header-navigation a:hover {
  color: var(--primary-dark-blue);
}

.header-navigation a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -30px;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    var(--primary-lime-green),
    var(--primary-bright-cyan)
  );
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.header-navigation a:hover::after {
  transform: scaleX(1);
}

.request-button {
  padding: 1rem 3rem;
  background: linear-gradient(
    to right,
    var(--primary-lime-green),
    var(--primary-bright-cyan)
  );
  color: var(--neutral-white);
  font-weight: var(--fw-semi-bold);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.request-button:hover {
  opacity: 0.678;
}

.company-introduction {
  max-width: 35%;
}

.company-introduction h1 {
  font-size: calc(3 * var(--main-fs));
  font-weight: var(--fw-regular);
}

.company-introduction p {
  margin: 2rem 0;
  font-size: var(--main-fs);
  font-weight: var(--fw-regular);
  color: var(--neutral-grayish-blue);
  padding-right: 5rem;
}

.introduction-section {
  padding: 10rem 0;
  position: relative;
}

.app-background {
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-height: 55vh;
  width: 50%;
  right: -6rem;
  bottom: -5rem;
}

.cel {
  position: relative;
  width: 80%;
  right: -13.5rem;
  bottom: -5.5rem;
  z-index: 1;
}

.company-services {
  padding: 5rem 0;
  background: var(--neutral-light-grayish-blue);
}

.company-services h2,
.articles-section h2 {
  font-weight: var(--fw-regular);
}

.company-services h2 {
  font-size: calc(2 * var(--main-fs));
}

.title p {
  margin: 2rem 0 0;
  font-size: var(--main-fs);
  line-height: 1.5;
  color: var(--neutral-grayish-blue);
}

.company-qualities {
  display: flex;
  align-items: center;
  margin: 2rem 0 0;
  gap: 0.65rem;
}

.quality-box {
  margin-top: 2rem;
  padding: 1rem 0;
}

.quality-box h3 {
  font-weight: var(--fw-semi-bold);
  color: rgba(0, 0, 0, 0.876);
  margin: 2rem 0;
}

.quality-box p {
  padding-right: 4.3rem;
  font-size: var(--main-fs);
  line-height: 1.5;
  color: var(--neutral-grayish-blue);
}

/* articles section start */
.articles-section {
  padding: 4rem 0;
}

.articles-section h2 {
  font-size: calc(2 * var(--main-fs));
}

.company-articles {
  display: flex;
  margin: 2rem 0;
  width: 100%;
  gap: 2rem;
}

.article-box {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 22%;
  padding: 0 0 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.0858);
}

.article-box small {
  margin: 1.5rem 0 0.5rem;
  padding: 0 1rem;
  color: var(--neutral-grayish-blue);
}

.article-box h3 {
  margin: 0.5rem 0;
  padding: 0 1rem;
  font-size: calc(1.25 * var(--main-fs));
}

.article-box p {
  padding: 0 3.25rem 0 1rem;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--neutral-grayish-blue);
}

.currency {
  background-image: url("../images/image-currency.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 50%;
}

.restaurant {
  background-image: url("../images/image-restaurant.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 50%;
}

.plane {
  background-image: url("../images/image-plane.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 50%;
}

.confetti {
  background-image: url("../images/image-confetti.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 50%;
}

footer {
  padding: 1.5rem 0;
  background: var(--primary-dark-blue);
}

.footer-navigation {
  display: flex;
  gap: 10rem;
}

.company-socials {
  display: flex;
  align-items: center;
  margin: 2.5rem 0 0;
  gap: 0.8rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.nav-content li {
  margin: 0 0 1rem;
}

.nav-content a {
  color: var(--neutral-light-grayish-blue);
  font-weight: var(--fw-thin);
  transition: 0.35s;
}

.nav-content a:hover {
  color: var(--primary-lime-green);
}

.footer-button-box {
  margin-bottom: 1rem;
}

.button-box {
  display: flex;
  justify-content: flex-end;
}

.footer-button-box p {
  margin: 2.5rem 0 0;
  color: var(--neutral-grayish-blue);
}

@media screen and (max-width: 375px) {
  .header-wrapper {
    display: block;
    padding: 1rem;
  }

  .introduction-wrapper {
    display: block;
    padding: 0;
    width: 100%;
  }
  /* -------  */

  header {
    background: var(--neutral-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.0555);
    z-index: 9;
    position: relative;
  }

  .header-navigation ul {
    display: none;
  }

  .introduction-section {
    display: block;
  }

  .request-button {
    display: none;
  }

  .introduction-button {
    display: block;
    margin: 0 auto;
  }

  .company-introduction {
    max-width: 100%;
  }

  .company-introduction h1 {
    text-align: center;
    font-size: calc(2.2 * var(--main-fs));
    font-weight: var(--fw-regular);
  }

  .company-introduction p {
    text-align: justify;
    margin: 2rem 0;
    font-size: 14px;
    font-weight: var(--fw-regular);
    color: var(--neutral-grayish-blue);
    padding-right: 0;
    padding: 0 2.25rem;
  }

  .introduction-section {
    padding: 0 0 5rem;
    position: relative;
  }

  .app-background {
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    position: sticky;
    width: 100%;
  }

  .cel {
    position: relative;
    width: 90%;
    right: -1rem;
    bottom: 7.5rem;
    z-index: 1;
  }

  .services-wrapper {
    padding: 1rem 0;
    width: 90%;
  }

  .company-services {
    padding: 4rem 0;
    background: var(--neutral-light-grayish-blue);
  }

  .company-services h2,
  .articles-section h2 {
    font-weight: var(--fw-regular);
  }

  .company-services h2 {
    text-align: center;
    font-size: calc(2 * var(--main-fs));
  }

  .title p {
    text-align: center;
    margin: 2rem 0;
    font-size: 0.9rem;
    line-height: 1.75;
    color: var(--neutral-grayish-blue);
  }

  .company-qualities {
    display: block;
  }

  .quality-box {
    margin: 1rem 0 0;
    padding: 1rem 0;
    text-align: center;
  }

  .quality-box h3 {
    font-weight: var(--fw-regular);
    color: var(--primary-dark-blue);
    margin: 1rem 0;
  }

  .quality-box p {
    padding: 0 0.5rem;
    font-size: 14px;
  }

  /* articles section start */
  .articles-wrapper {
    padding: 0;
    width: 100%;
  }

  .articles-section {
    padding: 4rem 0;
  }

  .articles-section h2 {
    font-size: calc(1.8 * var(--main-fs));
    text-align: center;
  }

  .company-articles {
    display: block;
    margin: 2rem 0;
  }

  .article-box {
    display: block;
    margin: 0 auto 2rem;
    padding: 0 0 1rem;
    min-height: 60vh;
    width: 90%;
  }

  .article-box small {
    padding: 0 1rem;
    font-size: calc(var(--main-fs) - 5px);
  }

  .article-box h3 {
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-size: calc(var(--main-fs) - 1px);
  }

  .article-box p {
    padding: 0 0.5rem 0 1rem;
    font-weight: var(--fw-regular);
    font-size: calc(var(--main-fs) - 3.5px);
  }

  .currency {
    background-image: url("../images/image-currency.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    min-height: 30vh;
    margin-bottom: 2rem;
  }

  .restaurant {
    background-image: url("../images/image-restaurant.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    min-height: 30vh;
    margin-bottom: 2rem;
  }

  .plane {
    background-image: url("../images/image-plane.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    min-height: 30vh;
    margin-bottom: 2rem;
  }

  .confetti {
    background-image: url("../images/image-confetti.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    min-height: 30vh;
    margin-bottom: 2rem;
  }

  .footer-wrapper {
    display: block;
    padding: 0rem 0;
    width: 100%;
  }

  footer {
    display: block;
    padding: 1.5rem 0;
    text-align: center;
    background: var(--primary-dark-blue);
  }

  .footer-navigation {
    display: block;
    margin: 0 auto;
  }

  .company-socials {
    display: block;
    align-items: center;
    margin: 2.5rem 0;
    gap: 0.8rem;
  }

  .footer-nav {
    display: block;
    text-align: center;
    gap: 8rem;
  }

  .footer-button {
    display: block;
  }

  .nav-content li {
    margin: 0 0 1.5rem;
  }

  .nav-content a {
    color: var(--neutral-light-grayish-blue);
    font-weight: var(--fw-thin);
    transition: 0.35s;
  }

  .nav-content a:hover {
    color: var(--primary-lime-green);
  }

  .footer-button-box {
    display: block;
    margin: 0 auto 1.5rem;
  }

  .button-box {
    display: flex;
    justify-content: center;
  }

  .footer-button-box p {
    margin: 2.5rem 0 0;
    color: var(--neutral-grayish-blue);
  }
}
